@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
  --secondary: #8f8f8f;
  --outline: #222222;
  --primary: #00fd44;
  --popover: #070707;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#grain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}
